.login {
  transform: translate(-50%, -50%);
}

.or-divider::before,
.or-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #aaa;
}

.or-divider::before {
  margin-right: 10px;
}

.or-divider::after {
  margin-left: 10px;
}
