.followed {
  width: 100%;
  border-radius: 0.7rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  padding-left: 10px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.followed > .container > .space > h3 {
  font-weight: bold;
}

.box {
  width: 75px;
  gap: 2rem;
  color: var(--yellow);
  margin-right: 0;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
}

.followedPerson {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.followedPerson > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.followedImage {
  width: 3rem;
  height: 3rem;
  border-radius: 18px;
}

.followedDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.followedDesc > span:nth-of-type(2) {
  color: var(--tagColor);
}

.remove-btn {
  font-size: 13px;
  width: 5rem;
  margin-right: 10px;
  background-color: red;
}
