/* .communities {
  width: 100%;
  border-radius: 0.7rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
} */

/* .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .box {
  display: flex;
  margin-right: 90px;
  gap: 2rem;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
} */

/* .box > img {
  width: 1.5rem;
  height: 1.5rem;
} */

/* .communities > .container > div > h3 {
  font-weight: bold;
} */

/* .community {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .community > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
} */

/* .communityImage {
  width: 5rem;
  height: 5rem;
  border-radius: 24px;
  border: 4px solid var(--grey);
} */

/* .communityDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* .communityDesc > span:nth-of-type(1) {
  font-weight: bold;
} */

/* .communityDesc > span:nth-of-type(2) {
  color: var(--tagColor);
} */
