.requests {
  width: 100%;
  border-radius: 0.7rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  padding-left: 10px;
  padding-bottom: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.requests > .container > .space > h3 {
  font-weight: bold;
}

.box {
  width: 75px;
  gap: 2rem;
  color: var(--yellow);
  margin-right: 0;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
}

.request {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.requestedImage {
  width: 3rem;
  height: 3rem;
  border-radius: 18px;
}

.requestedDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.requestedDesc > span:nth-of-type(2) {
  color: var(--tagColor);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accept-btn {
  font-size: 13px;
  width: 4rem;
  background-color: var(--yellow);
}

.reject-btn {
  font-size: 13px;
  width: 4rem;
  background-color: red;
}
