.searchbar {
  display: flex;
  gap: 0.75rem;
}

.logo {
  height: 42px;
}

.search {
  display: flex;
  padding: 5px;
  padding-left: 5px;
}

.search > input {
  background-color: var(--grey);
  padding-left: 10px;
  border: none;
  outline: none;
  border-radius: 24px;
}
