/* .middle {
  display: flex;
  justify-content: center;
} */

/* .navIcons {
  margin-top: 0.5rem;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin-bottom: 1rem;
} */

/* .navIcons > img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
} */
